*{
font-size: 16px;
font-family: Arial;
}

.cookie{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: auto;
    padding-top: 100px;
    transition: all 1s;
    margin-bottom: 50px;
}
.cktext{
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-weight: bolder;
}
.cktext p{
    font-size: 50px;
    font-weight: bolder;
}
.cookieimg{
    transition: all 1s;
    scale: 1;
}
.upgrade p{
    justify-content: center;
    display: flex;
    
}

@keyframes scale {
    0%{scale: 1;}
    25%{scale: 0.8;}
    50%{scale:1.3;}
    75%{scale: 1.1;}
    100%{scale:1;}
  }


.txt{
    justify-self: center;
    
}
.cps{
   justify-self: center; 
}
ul{
    list-style-type: none;
    display:grid;
}

.upgrades-list{
    font-size: 50px;
    justify-content: center;
    font-family:Arial;
    font-size: 30px;
    font-weight: 500;
}  



.upgrades-list li{
   margin-top: 50px;
   font-family:Arial;
   font-size: 30px;
   font-weight: bolder;
}
